node_modules/
docs/
lib/
temp/
.rush/
**/common/scripts/
.DS_Store
*.log*
/scripts/jest/__fixtures__/*/node_modules/
/scripts/jest/__fixtures__/**/.yarn/
/scripts/jest/__fixtures__/monorepo-base/__managers__/*/individual/
/scripts/jest/__fixtures__/monorepo-base/__managers__/*/packages/
install-state.gz
/package-lock.json
!/scripts/jest/__fixtures__/**/package-lock.json
.claude/settings.local.json
