# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Release

on:
  # release daily
  # https://crontab-generator.org/
  schedule:
    - cron: "0 8 * * *"
  # or on manual trigger
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.repo_pat }}
          fetch-depth: 0

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc

      - run: yarn --frozen-lockfile

      - run: yarn build

      - run: yarn test

      - name: Publish package
        run: |
          git config user.email "kchau@microsoft.com"
          git config user.name "Ken Chau"
          yarn release -y -n $NPM_AUTHTOKEN
        env:
          NPM_AUTHTOKEN: ${{ secrets.npm_authtoken }}

      - Name:
        run: |
          git remote set-url origin https://$GITHUB_ACTOR:$GITHUB_TOKEN@github.com/$GITHUB_REPOSITORY.git
          yarn release:docs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
